{% extends 'base.html' %}
{% load static %}
   

      {% block content %}
      {{ block.super }}         


    <div class="row">
      <div class="col-md-6 how-img">
          <img style="padding-top: 70px; padding-left: 25px;" src="https://cdn.pixabay.com/photo/2017/01/18/16/46/hong-kong-1990268_960_720.jpg" class="rounded-circle img-fluid" alt=""/>
      </div>
      <div class="col-md-6">
          <h1 style="padding-top: 70px; font-family: " >ABOUT US</h1>
                      <h4 " class="subheading">My neighbours is a site where you will find all the guys around you!</h4>
      <p style="padding-bottom: 50px;" class="text-muted">Neighbours are an integral part of our lives. <br>
        They are the ones who live close <br>to us and are often the first point of contact.<br>
         We share our happiness and sorrows with our neighbours. <br>
         My neighbour’s name is Mr Shyam Shukla. <br>
         He is a doctor by profession.<br>Living in this beautiful community, <br>
         we can be blind to the needs of students who feel invisible <br>
         or embarrassed because they cannot engage <br>
         in what so many of their classmates take for granted.  <br>
         Our students need to know they are valued and supported.</p>
      </div>
  </div> 


  <div class="card-group">
    <div class="card">
      <img style="padding-left: 30px; class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/30/07/06/police-3274553_960_720.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">POLICE</h5>
        <p class="card-text">Neighbours are an integral part of our lives.<br>
          They are the ones who live close<br>
          to us and are often the first point of contact.<br>
          We share our happiness <br>and sorrows with our neighbours.<br>
          My neighbour’s name is Mr Shyam Shukla.<br>
          He is a doctor by profession.</p>
      </div>
    </div>
    <div class="card">
      <img style="padding-left: 30px; class="card-img-top" src="https://cdn.pixabay.com/photo/2018/08/22/19/27/nurse-3624463_960_720.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 style="padding-left: 30px; class="card-title">HOSPITAL</h5>
        <p style="padding-left: 30px; class="card-text">Neighbours are an integral part of our lives.<br>
          They are the ones who live close<br>
          to us and are often the first point of contact.<br>
          We share our happiness <br>and sorrows with our neighbours.<br>
          My neighbour’s name is Mr Shyam Shukla.<br>
          He is a doctor by profession.</p>
      </div>
    </div>
    <div class="card">
      <img style="padding-left: 30px; padding-right:20px;" class="card-img-top" src="https://cdn.pixabay.com/photo/2018/08/29/22/52/woman-3640935_960_720.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 style="padding-left: 30px; class="card-title">LEISURE</h5>
        <p style="padding-left: 30px; class="card-text"> Neighbours are an integral part of our lives.<br>
          They are the ones who live close<br>
          to us and are often the first point of contact.<br>
          We share our happiness <br>and sorrows with our neighbours.<br>
          My neighbour’s name is Mr Shyam Shukla.<br>
          He is a doctor by profession.</p>
      </div>
    </div>
  </div>


<!-- Footer -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(255, 191, 0); font-color: light">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MyNeighborhood</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --> 
    
  {% endblock content %} 