 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} {% load bootstrap4 %} {% endcomment %}
  {% comment %} <nav class="navbar navbar-default" style=" background-color: rgb(102, 122, 140);">
    <div class="container-fluid">
     <img src="" width="50" alt=""> 
     <div class="col-sm-2 col-md-2 navbar-header">
        
        <button class="btn btn-default" ><a class="navbar-brand" style=" color: #FFFFFF; font-weight: 1000; padding-right:  "href=""> <i>Neighbors </i> </a></button>
      </div>

      <div class="col-sm-3 col-md-3 navbar-center"></div>
    </div>

  </nav> {% endcomment %}

<!--Navbar-->
<header>
<nav>
  <div class="nav-wrapper #039be5 menu-background">
       {% comment %} <ul class="right hide-on-med-and-down">
          <li><a href="login">Login</a></li>
         
      </ul> {% endcomment %}
  </div>
</nav>
</header>



<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">The Hood</a>
  {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> {% endcomment %}
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="{%url 'account_logout'%}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a style="" class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a style="" class="nav-link" href="{% url 'account_signup' %}">Register</a>
      </li>
      <li class="nav-item">
        <a style="" class="nav-link" href="{% url 'Search' %}">Search</a>
      </li>

      {% endif %}
      
    </ul>
  </div>
</nav>



 
</body>

</html> 


